<section class="bg-primary" id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <h2 class="section-heading">Q一下就懂!</h2>
                <hr class="light">
                
                <div style="text-align:center">
                <img src="https://raw.githubusercontent.com/HowSolve/HowSolve.github.io/main/img/qengine.png" alt="">
            </div>
                
                <p class="text-faded"></p>
                
                <a href="#services" class="btn btn-primary btn-xl page-scroll">產品與服務</a>
                
            </div>
        </div>
    </div>
</section>
